# API Configuration
REACT_APP_API_BASE_URL=https://v9fes04dwf.execute-api.eu-north-1.amazonaws.com

# Use mock API for development (set to 'true' to enable)
REACT_APP_USE_MOCK_API=false

# Application Settings
REACT_APP_ITEMS_PER_PAGE=10
REACT_APP_ENV=development
